@{
    ViewData["Title"] = "Gamer";
}

<div class="text-center">
    <h1 class="display-4">Gamer</h1>
    <style>
        .display-4 {
            font-size: 100px;
            color: blueviolet;
        }
    </style>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
